<!DOCTYPE html>
<html>
    <head>
        <title>Assignment 5 Page 3</title>
        <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    </head>
    <body>
        <svg width="100%" height="300px" >
            <rect width="100%" height="100%" fill="black" />
            <circle cx ="200" cy="180" r= 80 fill="yellow" />
            <polygon points="110,80 67,25 120,75 130,0" fill="none" stroke="white" />
        </svg>
        <nav class="menue">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./two.html">Page Two</a></li>
                <li><a href="./three.html">Page Three</a></li>
            </ul>
        </nav>   
        <h1>SVG Animation is easy!</h1>
        <img src="../resources/Everything-else/page-three.svg" />
    </body>

</html>
